@{
    ViewData["Title"] = "AboutUs";
}

<h1>За нас</h1>
<div style="border: 3px solid #B22222; padding: 5px; ">
    <img id="img1" src="~/images/zanaskuche.jpg" alt="picture" height="350px" style="float:right; padding:8px;text-align:justify;" />
    <p>
        AnimalWorld предлага на любителите на домашни любимци, всичко необходимо за отглеждането и грижата на техния домашен любимец.
    </p>
    <p>
        Храни, специалитети, аксесоари или продукти за  поддръжка и хигиена са внимателно избрани и препоръчани съобразно нуждите на всеки домашен любимец.
    </p>
    <p>
        Щедрото представяне и търговска повърхност позволяват да се представи уникалното разнообразие от продукти и да направи ефективно посещението на своите клиенти.
    </p>
    <p>
        Екипът ни от отдадени професионалисти предлага висококачествено обслужване на клиентите ни. Ние предлагаме най-добрите цени във всяка продуктова категория от  икономични до много висок клас.
    </p>
    <p>

    </p>
</div>
<br />

